.top-bar {
    background-color: black;
    margin:0;
    padding:1em;
    height: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 8em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 2em; /* Stay at the top */
    left: 0;
    background-color: #9b3725; 
    overflow-x: hidden; /* Disable horizontal scroll */
    margins: 0;
    padding: 0;
}

#nav .button a{
    padding: 1em;
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

#nav .button-current a {
    background-color: #8b2715;
}

#nav li {
    list-style-type: none;
}

#nav a:hover {
    color: lightgray;
    background-color: #8b2715;
}

.main {
    font-family: 'Oswald', sans-serif;
    margin-left: 7.5em;
    margin-top: 2em;
    padding: 0;
    text-align:center;
}

@media screen and (max-height: 450px) {
    #nav {padding-top: 15px;}
    #nav a {font-size: 18px;}
} 


