<head>
    <title>Hello World!!!</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">


    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
<body>
    <ul id="nav"> 
        <li class="button button-current"><a href="index.html">Home</a></li>
        <li class="button"><a href="lyrics.html">Lyrical Analysis</a></li>
        <li class="button"><a href="songs.html">My Songs</a></li>
        <li class="button"><a href="ranking.html">Song Ranking</a></li>
        <li class="button"><a href="freestyle.html">Freestyle</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
    </ul>
    <span class="top-bar"></span>
    <div class="main">
        <h1>AURUM AVEM</h1>
        <p>REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</p>
    </div>
</body>
